* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: url('https://images.pexels.com/photos/1154618/pexels-photo-1154618.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

a {
    text-decoration: none;
}
.box {
    color: #fff;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    padding: 2.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textbox {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 2rem 0;
    padding: 8px 0;
    border-bottom: 2px solid #fe9b29;   
    display: flex;
}
.textbox i {
    width: 26px;
    text-align: center;
    color: white;
}
.textbox input {
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    color: #fff;
    width: 13rem;
    margin: 0 1.2rem;
}
.btn {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem 1.2rem;
    border-radius: 3rem;
    margin: 2rem 0;
    font-size: 1.4rem;
    background: #fe9b29;
    transition: all .4s ease-in;
}
.btn:hover {
    background: transparent;
    border: #fe9b29 solid 1px;
    color: #fff;
}
.btn:focus {
    transform: scale(.95);
}
.box p {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.box p span {
    color: #fe9b29;
    cursor: pointer;
}

.login-box h1 {
    float: left;
    font-size: 3rem;
    border-bottom: .4rem solid #fe9b29;
    margin-bottom: 2rem;
    padding: 0.4rem 0;
}

.signup-box h1 {
    text-align: center;
}
.signup-box .textbox input {
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .box {
        width: 80%;        
    }
    .box h1 {
        font-size: 2.2rem;
        border-bottom: 0.3rem solid #fe9b29;
    }
    .btn {font-size: 1.2rem; padding: .8rem 1rem;}
    .box p {font-size: .8rem;}
}